.heading-wrapper {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

@media (min-width: 50em) {
  .heading-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-inline-start: calc(-1 * 25px);
  }
  .heading-wrapper .anchor-link {
    visibility: hidden;
  }
  .heading-wrapper:hover .anchor-link {
    visibility: visible;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  border: none;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.dark {
  ::-webkit-scrollbar-track {
    border: none;
    background-color: rgb(12 10 9);
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(12 10 9);
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.tab-menu {
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.tab-menu button.active {
  background-color: transparent;
}
.tab-menu button {
  background-color: transparent;
  float: left;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.active {
  background-color: #4caf50;
  color: #fff;
}
.tab-menu span {
  float: left;
  padding-left: 4px;
}

.pageTunerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px 0 -12px;
}
* {
  box-sizing: border-box;
  word-wrap: break-word !important;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
.pageTunerWrapper__items {
  background: hsla(0, 0%, 100%, 0.24);
  border-radius: 6px;
  display: flex;
}

.pageTunerWrapper__item {
  padding: 5px 10px;
}
.pageTunerWrapper__item a,
.pageTunerWrapper__item p {
  align-items: center;
  display: flex;
  gap: 6px;
  margin: 0 auto;
  padding: 6px 22px;
  text-decoration: none;
  transition: all 0.7s ease;
}

a {
  background-color: transparent;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
a {
  text-decoration: none !important;
}
img {
  border-style: none;
}

user agent stylesheet img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.pageTunerWrapper__item a span,
.pageTunerWrapper__item p span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.pageTunerWrapper__item a,
.pageTunerWrapper__item p {
  align-items: center;
  display: flex;
  gap: 6px;
  margin: 0 auto;
  padding: 6px 22px;
  text-decoration: none;
  transition: all 0.7s ease;
}
.pageTunerWrapper__item:not(:first-child) {
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
}



.section-text__card {
    align-items: center;
    background: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: max-content 1fr;
}
.section-text {
    display: grid;
    grid-template-columns: 1fr;
    margin: 64px auto;
    max-width: 1024px;
    padding: 0 20px;
    text-align: center;
}
:root {
    --color-white: #fff;
    --color-black-primary: #000;
    --color-black-second: rgba(0, 0, 0, .7);
    --color-primary: #1d4ed8;
    --color-purple: #be185d;
}
.section-text picture {
    height: 100%;
}
.section-text img {
    border-radius: 12px 0 0 12px;
    display: block;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
    border-style: none;
}
.section-text__content {
    padding: 0 32px;
    text-align: left;
}
.section-text__content h2 {
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    margin: 0 auto 18px;
}
.section-text__content {
    padding: 0 32px;
    text-align: left;
}
.section-text__content p {
    color: var(--color-black-second);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;
}
.section-instruction__title {
    border-bottom: 2px solid transparent;
    -o-border-image: linear-gradient(108deg, rgba(0, 158, 226, .9) -57.13%, #8b2fff 11.08%, rgba(245, 5, 79, .9) 102.57%);
    border-image: linear-gradient(108deg, rgba(0, 158, 226, .9) -57.13%, #8b2fff 11.08%, rgba(245, 5, 79, .9) 102.57%);
    border-image-slice: 1;
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}
