---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";

import Layout from "@layouts/Layout.astro";
import Features from "@components/features.astro";
import Newsletter from "@components/newsletter.astro";
import Testimonials from "@components/testimonials.astro";

import Faq from "@components/faq.astro";

const faqs = [
  {
    title: "How to Download video Tiktok no watermark?",
    description: `Open Tik Tok app on your phone/or Web on your browser.
Choose whatever video you want to download.
Click to the Share button at the right bottom.
Click the Copy Link button.
Go back to webname.com and paste your download link to the field above then click to the Download button.
Wait for our server to do its job and then, save the video to your device.`,
  },
  {
    title: "How to get the TikTok video download link?",
    description: `Open your TikTok application
Choose the TikTok video that you want to download
Click Share and at the Share options, find Copy Link button
Your download URL is ready on the clipboard.
For example, the link would look like this
https://v.douyin.com/3vn57r/
or
https://www.tiktok.com/@philandmore/video/6805867805452324102
or
https://m.tiktok.com/v/6805867805452324102.html
and more...`,
  },
];
---

<Layout  title="TikTok Downloader: TikTok Video Download Without Watermark in 5s - TikTokio" description="TikTokio is the fastest free Tiktok downloader online allowing you to download TikTok videos (MP3/MP4) without watermark. Unlimited TikTok downloads. HD quality.">
<Container>
    <Hero heading="TikTok Downloader" subheading="TikTok Video Downloader Without Watermark."/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
