---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const features = [];
---

<div class="relative p-4">
  <div class="max-w-screen-xl mx-auto">

<section class="section-text">
  <div class="section-text__card">
    <picture><source type="image/webp" srcset="https://fastdl.app/images/text/card_index.webp">
      <img src="https://fastdl.app/images/text/card_index.webp" alt="Instagram Videos and Photos Download" width="328" height="250">
    </picture>
  <div class="section-text__content">
    <h2>Instagram Videos and Photos Download</h2>
      <p>FastDl is an online web tool that helps you download Instagram Videos, Photos, Reels, and IGTV. FastDl is designed to be easy to use on any device, such as a mobile phone, tablet, or computer.</p>
  </div>
  </div>
</section>


    <div
      class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="">
        <h2 class="text-gray-900 font-bold text-4xl">
          Portrait Photography In Early Days
        </h2>
        <br />
        <hr />
        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <h3 class="text-2xl font-bold my-5">#1. What is Lorem Ipsum?</h3>

        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <blockquote
          class="text-md italic leading-8 my-5 p-5 text-indigo-600 font-semibold"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </blockquote>

        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>
