---
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
// @ts-ignore
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const features = [];
---

<div class="relative p-4">
  <div class="max-w-screen-xl mx-auto">

<section class="py-12 bg-white">
      <div class="container mx-auto px-4 flex flex-col lg:flex-row gap-8 items-center">
        <div class="w-full lg:w-1/2">
          <img src="https://placehold.co/600x400" alt="Overview" class="rounded-lg shadow-lg">
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="text-2xl font-bold mb-4">Instagram Videos and Photos Download</h2>
          <p class="text-gray-600">FastDL is an online tool to help you download Instagram Videos, Reels, Photos, and IGTV. Easily save them to your device on any platform like mobile phone, tablet, or desktop.</p>
        </div>
      </div>
    </section>



    <div
      class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="">
        <h2 class="text-gray-900 font-bold text-4xl">
          Portrait Photography In Early Days
        </h2>
        <br />
        <hr />
        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <h3 class="text-2xl font-bold my-5">#1. What is Lorem Ipsum?</h3>

        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <blockquote
          class="text-md italic leading-8 my-5 p-5 text-indigo-600 font-semibold"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </blockquote>

        <p class="text-base leading-8 my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>
